<div class='team__item team__item--primary'>
    <figure class='team__item-image'>
        <img 
            class='team__item-image' 
            src='{{ imageUrl }}'
            alt='{{ name }}'>
    </figure>
    <div class='team__item-content-container'>
        <header class="team__item-header">
            <h2 class='team__item-name'>
                {{ name }}
            </h2>
            <p class='team__item-position'>
                {{ position }}
            </p>
        </header>
        <article class='team__item-content'>
            <div class='content'>
                {{ content|raw }}
            </div>
        </article>
    </div>
</div>